# Virtual environment
venv/
.env/

# models 
models/ 
models/*.*

# data
data/ 
*.csv
*.fr

# PyTorch checkpoints and artifacts
*.pt
*.ckpt
runs/
mlruns/

# Cache and system files
__pycache__/
*.pyc
.DS_Store
